* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.header {
  width: 960px;
  margin: 50px auto;
}

.heading {
  padding: 20px 0 20px 20px;
  list-style: none;
}

.heading:nth-child(1) {
 background-color: #8080805c;
}

.heading:nth-child(3) {
 background-color: #8080805c;
}

.heading:nth-child(5) {
 background-color: #8080805c;
}

.heading:nth-child(7) {
 background-color: #8080805c;
}

.boxs {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 50px auto;
}

.box {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin: 0 5% 40px 0;
}



.box:nth-child(1) {
  background-color: orange;  
}

.box:nth-child(3) {
  margin: 0 0 40px 0;
}


.box:nth-child(5) {
  background-color: orange;  
}

.box:nth-child(6) {
  margin: 0 0 40px 0;
}

.box:nth-child(9) {
  background-color: orange;  
  margin: 0 0 40px 0;
}
